.JokeList {
    display: flex;
    width:80%;
    height: 80%;
}

.JokeList-sidebar {
    background: #9575cd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.3), 0 15px 22px rgba(0,0,0,);
}

.JokeList-title {
    font-size: 4rem;
    margin: 2rem;
    color: white;
    font-weight: 300;
    letter-spacing: 0.6rem;
}

.JokeList-title span {
    font-weight: 700;
    letter-spacing: 0;
}

.JokeList-sidebar img {
    width: 50%
}

.JokeList-jokes {
    height: 90%;
    background: white;
    align-self: center;
    width: 70%;
    overflow: scroll;
}

.JokeList-spinner {
    color: white;
    text-align: center;
}