.Pokedex {
    text-align: center;
}

.Pokedex-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Pokedex-winner {
    color: green;
}

.Pokedex-loser {
    color: red;
}